{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block body %}
	<div class="container py-4">
		<div class="row mb-3">
			<div class="col">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_admin_user_index') }}">Users</a>
						</li>
						<li class="breadcrumb-item">
							<a href="{{ path('app_admin_user_show', {'id': user.id}) }}">{{ user.username }}</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">Edit</li>
					</ol>
				</nav>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card shadow-sm">
					<div class="card-header bg-warning">
						<h4 class="mb-0">
							<i class="bi bi-pencil-square"></i>
							Edit User</h4>
					</div>
					<div class="card-body">
						{{ include('admin/admin_user/_form.html.twig', {'button_label': 'Update'}) }}
					</div>
					<div class="card-footer bg-light">
						<div class="d-flex justify-content-between align-items-center">
							<a href="{{ path('app_admin_user_index') }}" class="btn btn-outline-secondary">
								<i class="bi bi-arrow-left"></i>
								Back to list
							</a>
							{{ include('admin/admin_user/_delete_form.html.twig') }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
