{% extends 'base.html.twig' %}

{% block title %}Racquet Details
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div class="card shadow-sm">
					<div class="card-header bg-primary text-white">
						<h1 class="h3 mb-0">Racquet Details</h1>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-4 text-center mb-3">
								<img src="{{ asset('img/racquet/' ~ racquet.id ~ '.' ~ racquet.imgExtension) }}" alt="{{ racquet.brand }} {{ racquet.model }}" class="img-thumbnail" style="max-width: 100%;">
							</div>
							<div class="col-md-8">
								<table class="table table-hover table-striped">
									<tbody>
										<tr>
											<th class="w-25">Id</th>
											<td>{{ racquet.id }}</td>
										</tr>
										<tr>
											<th>Brand</th>
											<td>{{ racquet.brand }}</td>
										</tr>
										<tr>
											<th>Model</th>
											<td>{{ racquet.model }}</td>
										</tr>
										<tr>
											<th>Head Size</th>
											<td>{{ racquet.headSize }}</td>
										</tr>
										<tr>
											<th>String Pattern</th>
											<td>{{ racquet.stringPattern }}</td>
										</tr>
										<tr>
											<th>Weight</th>
											<td>{{ racquet.weight }}</td>
										</tr>
										<tr>
											<th>Grip Size</th>
											<td>{{ racquet.gripSize }}</td>
										</tr>
										<tr>
											<th>Price</th>
											<td>{{ racquet.price }}
												€</td>
										</tr>
										<tr>
											<th>Quantity</th>
											<td>
												<span class="badge bg-info">{{ racquet.quantity }}</span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="card-footer d-flex justify-content-between align-items-center">
						<a href="{{ path('app_admin_racquet_index') }}" class="btn btn-secondary">
							<i class="bi bi-arrow-left"></i>
							Back to List
						</a>
						<div>
							<a href="{{ path('app_admin_racquet_edit', {'id': racquet.id}) }}" class="btn btn-warning me-2">
								<i class="bi bi-pencil"></i>
								Edit
							</a>
							{{ include('admin_racquet/_delete_form.html.twig') }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
